<div class="h-screen flex flex-col justify-center items-center bg-no-repeat bg-cover" [style.background-image]="'url(./assets/img/bgs/pattern-1.png)'">
    <div class="flex justify-center w-11/12" (nguiInview)="isShow(true)" (nguiOutview)="isShow(false)">
            <div class="flex-col pr-24" *ngIf="show" [@fadeInLeftOnEnter]>
                <h2 class="font-bold text-5xl mr-auto mb-10">{{ 'aboutMe.title' | translate }}</h2>
                <div class="mb-8">
                    <h2><span class="text-3xl">{{ 'home.subTitle' | translate }}</span></h2>
                    <p>{{ 'cta.description' | translate }}</p>
                    <p>{{ 'cta.description' | translate }}</p>
                </div>
                <div class="mb-8">
                    <h2><span class="text-3xl">{{ 'home.subTitle' | translate }}</span></h2>
                    <p>{{ 'cta.description' | translate }}</p>
                </div>
                <button mat-raised-button class="m-btn">
                    <span class="text-xl p-4">{{ 'utils.knowMore' | translate }}</span>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
                <div class="mt-10">
                    <img class="animate-bounce cursor-pointer text-2.5xl mr-auto ml-auto" [ngClass]="(_localStorageService.appData$ | async)!.theme.isDark ? '' : 'text-black'" src="assets/img/icons/white-down-arrow.svg">
                </div>
            </div>
            <div class="flex-col border-l-2 pl-24" [ngClass]="(_localStorageService.appData$ | async)!.theme.isDark ? '' : 'border-black'">
                <skills></skills>
            </div>
    </div>
</div>