<div id="about-me" class="min-h-screen flex flex-col justify-center items-center bg-no-repeat bg-cover n:space-y-2 lg:space-y-16" [style.background-image]="'url(./assets/img/bgs/waves-pattern.webp)'">
    <div [fxLayout]="(_localStorageService.appData$ | async)!.layout.innerWidth > md ? 'row' : 'column'" class="justify-center w-11/12" (nguiInview)="isShow(true)" (nguiOutview)="isShow(false)">
        <!-- fxLayout.lt-md="column" fxLayout.gt-lg="row" -->
            <div class="n:pr-0 lg:pr-24 justify-end" fxLayout="column" fxFlex.lt-lg="100%" fxFlex.gt-md="40%" *ngIf="show" [@fadeInLeftOnEnter]>
                <h2 class="font-bold n:text-3xl lg:text-5xl mr-auto n:mb-4 lg: mb-10">{{ 'aboutMe.title' | translate }}</h2>
                <div class="flex flex-row items-center space-x-5 n:mb-4 lg:mb-8">
                    <div class="relative">
                        <!--<div class="rounded-full w-48 h-48 bg-blue-600 absolute z-0"></div>
                        <div class="rounded-full w-44 h-44 bg-blue-800 absolute z-10"></div>-->
                        <img class="n:w-20 lg:w-40 h-auto rounded-full shadow-2xl relative z-20" [src]="'assets/img/profiles/miguel-angel-pic-1.png'" alt="Miguel Angel Rodriguez profile pic">
                    </div>
                    <div class="bubble-box rounded-tl-2xl rounded-tr-2xl rounded-br-2xl p-4 shadow-2xl w-3/4">
                        <h2 class="n:text-xl lg:text-2xl uppercase mb-2">{{ 'aboutMe.subTitle' | translate }}</h2>
                        <p class="n:text-xs lg:text-base">{{ 'aboutMe.summary1' | translate }}
                            <b class="text-m-green">{{ 'aboutMe.summary2' | translate }}</b>
                        </p>
                    </div>
                </div>
                <div class="n:mb-4 lg:mb-8">
                    <h2 class="n:text-xl lg:text-3xl font-semibold mb-2">{{ 'home.subTitle' | translate }}</h2>
                    <p class="n:text-xs lg:text-base whitespace-pre-line">{{ 'aboutMe.description1' | translate }}
                        <b class="text-m-green">{{ 'aboutMe.description2' | translate }}</b>{{ 'aboutMe.description3' | translate }}
                    </p>
                </div>
                <!-- Social Medias -->
                <div class="n:mb-4 lg:mb-8 space-y-4">
                    <h2 class="n:text-xl lg:text-3xl">{{ 'aboutMe.socialTitle' | translate }}:</h2>
                    <div class="flex flex-row space-x-8">
                        <div *ngFor="let social of socialMedias">
                            <a [href]="social.href" target="_blank" class="pi n:text-2xl lg:text-4.5xl text-m-green transition ease-in hover:scale-125 duration-200" [ngClass]="'pi-' + social.icon"></a>
                        </div>
                    </div>
                </div>
                <!-- <button mat-raised-button class="m-grad-btn-1 w-1/2">
                    <span class="text-xl p-4">{{ 'utils.knowMore' | translate }}</span>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                </button> -->
            </div>
            <div class="lg:border-l-2 n:pl-0 lg:pl-24 n:border-l-0" fxFlex.lt-lg="100%" fxFlex.gt-md="40%" [ngClass]="(_localStorageService.appData$ | async)!.theme.isDark ? '' : 'border-black'">
                <skills></skills>
            </div>
    </div>
    <contact-me [btnClass]="'w-56 h-14'" [txtClass]="'text-2.5xl p-4'"></contact-me>
</div>