
<div class="flex flex-col h-screen justify-center items-center bg-no-repeat bg-cover relative text-white" (nguiInview)="isShow(true)" (nguiOutview)="isShow(false)"> <!--[style.background-image]="'url(./assets/img/bgs/pattern-5.webp)'"-->
    <div class="bg-black bg-opacity-50 absolute h-screen w-full z-10" *ngIf="show" [@fadeInOnEnter] [@fadeOutOnLeave]></div>
    <div fxLayout="column" fxFlex="85%" class="relative justify-center z-20">
        <div class="n:mb-6 lg:mb-12">
            <h2 class="n:text-3xl md:text-4.5xl lg:text-6xl text-center font-bold">{{ 'services.title' | translate }}</h2>
        </div>
        <div fxLayout="row wrap" class="gap-5 justify-center" *ngIf="show && (_localStorageService.appData$ | async)!.layout.innerWidth >= lg" [@fadeInUpOnEnter] [@fadeOutOnLeave]>
            <div *ngFor="let serviceBox of servicesList" [fxFlex]="(_localStorageService.appData$ | async)!.layout.innerWidth >= lg ? '25%' : '80%'">
                <div class="flex flex-col justify-center items-center bubble-box rounded-2xl shadow-md p-6 border-transparent border-2 transition ease-in hover:shadow-m-green hover:border-2 hover:border-m-green duration-400">
                    <div class="rounded-full bg-gray-100 bg-opacity-50 n:w-10 lg:w-20 n:h-10 lg:h-20 flex items-center justify-center mb-8">
                        <div class="pi n:text-xl md:text-2xl lg:text-4.5xl text-m-green mb-8 mt-8" [ngClass]="'pi-' + serviceBox.Icon"></div>
                    </div>
                    <h3 class="n:text-lg md:text-xl lg:text-2xl font-semibold mb-4">{{ serviceBox.Title | translate }}</h3>
                    <p class="n:text-xs lg:text-base font-light text-center">{{ serviceBox.Description | translate }}</p>
                </div>
            </div>
        </div>
        <div *ngIf="show && (_localStorageService.appData$ | async)!.layout.innerWidth < lg" class="h-90vh w-75-screen" [@fadeInUpOnEnter] [@fadeOutOnLeave]>
            <swiper [config]="config" #projectSwiperController class="w-full h-full">
                <ng-template swiperSlide *ngFor="let col of getCols()">
                    <div fxLayout="column" class="gap-5 space-y-5 justify-center items-center">
                        <div *ngFor="let i of [0, 1]" class="flex flex-col w-80 justify-center items-center bubble-box rounded-2xl shadow-md p-5 border-transparent border-2 transition ease-in hover:shadow-m-green hover:border-2 hover:border-m-green duration-400">
                            <div class="rounded-full bg-gray-100 bg-opacity-50 w-9 h-9 flex items-center justify-center mb-4">
                                <div class="pi n:text-xl text-m-green mb-6 mt-6" [ngClass]="'pi-' + servicesList[col + i].Icon"></div>
                            </div>
                            <h3 class="text-lg font-semibold mb-4">{{ servicesList[col + i].Title | translate }}</h3>
                            <p class="text-xs font-light text-center">{{ servicesList[col + i].Description | translate }}</p>
                        </div>
                    </div>
                </ng-template>
            </swiper>
        </div>
    </div>
</div>