<div (nguiInview)="isShow(true)" (nguiOutview)="isShow(false)">
    <div *ngIf="show" class="flex flex-col justify-start items-center h-full space-y-6" [@fadeInRightOnEnter]>
        <h2 class="text-5xl font-bold mr-auto">{{ 'skills.title' | translate }}</h2>
        <div class="flex flex-col justify-start">
        
        <h3 class="text-3xl font-medium mb-4">{{ 'skills.languages' | translate }}:</h3>
        <div class="flex flex-wrap space-x-8 items-center mb-4">
            <div *ngFor="let lang of programmingLanguages; let i = index;">
                <img [src]="lang.icon" [alt]="lang.name" class="w-10 h-auto filter drop-shadow-xl transition ease-in hover:scale-125 duration-200">
            </div>
        </div>
        <h3 class="text-3xl font-medium mb-4">{{ 'skills.frameworks' | translate }}:</h3>
        <div class="flex flex-wrap space-x-8 items-center mb-4">
            <div *ngFor="let fw of frameworks; let i = index;">
                <img [src]="fw.icon" [alt]="fw.name" class="w-10 h-auto filter drop-shadow-xl transition ease-in hover:scale-125 duration-200">
            </div>
        </div>
        <h3 class="text-3xl font-medium mb-4">{{ 'skills.programs' | translate }}:</h3>
        <div class="flex flex-wrap space-x-8 items-center mb-4">
            <div *ngFor="let program of programs; let i = index;">
                <img [src]="program.icon" [alt]="program.name" class="w-10 h-auto filter drop-shadow-xl transition ease-in hover:scale-125 duration-200">
            </div>
        </div>
        <h3 class="text-3xl font-medium mb-4">{{ 'skills.dbs' | translate }}:</h3>
        <div class="flex flex-wrap space-x-8 items-center mb-4">
            <div *ngFor="let db of dbs; let i = index;">
                <img [src]="db.icon" [alt]="db.name" class="w-10 h-auto filter drop-shadow-xl transition ease-in hover:scale-125 duration-200">
            </div>
        </div>
    </div>
</div>