@import "../../assets/scss/variables.scss";

.mat-form-field-wrapper
.mat-form-field-flex {
    padding-left: 0.75em;
    background-color: #0000000a;
}

.contact-input {
    //background-color: lightgrey;
    background-color: #0000000a;
}

.contact-dialog-card {
    width: 30rem;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid $app-blue;
    border-color: $app-blue transparent $app-blue transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }