<div> 
    <mat-toolbar class="bg-transparent absolute z-50 mt-3 text-white">
      <!-- Website logo -->
      <a [routerLink]="['/'+(_localStorageService.appData$ | async)!.language.lang]">
        <img class="n:w-1/2 lg:w-1/3" src="assets/img/logo/mdev-light-logo.png">
      </a>

      <span class="example-spacer"></span>

      <!-- Dark mode selector -->
      <div class="items-center ml-auto mr-4">
        <!--<mat-slide-toggle [formControl]="toggleControl" class="mr-8">
        </mat-slide-toggle><mat-icon>bedtime</mat-icon>-->
        <dark-toggler></dark-toggler>
      </div>

      <!-- Menu options -->
      <div fxShow="true" class="items-center space-x-5" fxHide.lt-md="true">
        <ng-container *ngFor="let item of menuItems; let i = index">
          <a *ngIf="!item.isButton" (click)="swipe(i+1)" class="text-white text-xl text-shadow-xl hover:text-m-green cursor-pointer">{{ item.label | translate }}</a>
          <contact-me *ngIf="item.isButton"></contact-me>
        </ng-container>
      </div>

      <!-- Language selector -->
      <div fxShow="true" class="items-center" fxHide.lt-md="true">
          <language-selector></language-selector>
      </div>

      <!-- Responsive menu bar toggler -->
      <div fxShow="true" class="ml-auto" fxHide.gt-sm="true">
        <button mat-icon-button [matMenuTriggerFor]="dropMenu">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <!-- Responsive Menu bar -->
      <mat-menu #dropMenu="matMenu">
        <ng-container *ngFor="let item of menuItems">
            <button mat-menu-item (click)="scrollTo(item.scrollToId)">
                <mat-icon class="mr">{{item.Icon}}</mat-icon>
                {{item.label | translate}}
            </button>
            <mat-divider></mat-divider>
        </ng-container>
      </mat-menu>
    </mat-toolbar>
</div>
