<div> 
    <mat-toolbar class="bg-transparent absolute z-50 mt-3 text-white">
      <a mat-button routerLink="/">
        <span>Site name</span>
      </a>

      <span class="example-spacer"></span>

      <div fxShow="true" class="ml-auto items-center" fxHide.lt-md="true">
        <ng-container *ngFor="let item of menuItems; let i = index">
          <a mat-button *ngIf="!item.isButton" (click)="swipe(i)" [ngxScrollTo]="'#'+item.scrollToId" class="text-xl text-shadow-xl hover:text-blue-600">{{ item.label | translate }}</a>
          <contact-me *ngIf="item.isButton"></contact-me>
        </ng-container>
      </div>

      <div fxShow="true" class="ml-auto" fxHide.gt-sm="true">
        <button mat-icon-button [matMenuTriggerFor]="dropMenu">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <mat-menu #dropMenu="matMenu">
        <ng-container *ngFor="let item of menuItems">
            <button mat-menu-item>
                <mat-icon class="mr">{{item.icon}}</mat-icon>
                {{item.label | translate}}
            </button>
            <mat-divider></mat-divider>
        </ng-container>
    </mat-menu>
    </mat-toolbar>
</div>
